.content-sber {
  width: 1080px;
}
.content-box {
  overflow-x: hidden;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1f7ff+0,e4f6ff+51 */
  background: #d1f7ff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d1f7ff 0%, #e4f6ff 51%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #d1f7ff 0%, #e4f6ff 51%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #d1f7ff 0%, #e4f6ff 51%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d1f7ff', endColorstr='#e4f6ff', GradientType=0);
  /* IE6-9 */
}
.content .top .text {
  float: none;
  display: table-cell;
  padding-top: 18px;
  vertical-align: top;
}
.content .top {
  border-bottom: 5px solid #000;
  background: #fff;
}
.section-logo {
  margin: 13px 0 22px;
  display: inline-block;
  width: 131px;
}
.section-logo img {
  width: 100%;
}
.section {
  display: table;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}
.section p {
  font-size: 18px;
  font-family: "PTSerif";
  color: #333333;
  font-weight: bold;
  font-style: italic;
  line-height: 1.556;
  text-align: left;
  margin-bottom: 42px;
}
.section p a {
  color: #333333;
  text-decoration: none;
}
.section p a:hover {
  text-decoration: none;
}
.section-history p {
  font-size: 18px;
  font-family: "PTSerif";
  color: #333333;
  line-height: 1.556;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin-bottom: 42px;
}
.section-history ul {
  padding: 0;
  list-style: none;
}
.section-history ul li {
  font-size: 18px;
  font-family: "PTSerif";
  color: #333333;
  line-height: 1.556;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  margin-bottom: 42px;
}
.section-title {
  position: relative;
  font-size: 47px;
  color: #333333;
  font-weight: bold;
  font-family: 'PTSans';
  line-height: 1.077;
  text-align: left;
  margin-bottom: 28px;
  margin-top: 33px;
}
.section-title:before {
  content: "";
  width: 35px;
  height: 40px;
  position: absolute;
  top: -19px;
  left: 142px;
  background: url('../images/SB/dove.png') no-repeat;
}
.section > div {
  float: none;
  padding-bottom: 86px;
  position: relative;
  display: table-cell;
  box-sizing: border-box;
  vertical-align: top;
}
.section-left {
  width: 49%;
  padding-left: 50px;
  padding-right: 53px;
}
.section-right {
  width: 51%;
}
.social {
  position: absolute;
  right: 10px;
  top: 34px;
  z-index: 2;
}
.social li {
  padding-right: 28px;
  display: inline-block;
  float: left;
}
.social li a {
  display: inline-block;
}
.social li img {
  position: relative;
  height: 16px;
}
.section-history .section-right {
  background: #f1e8cc;
}
.section-history-title {
  display: inline-block;
  width: 100%;
  background: #309b42;
  font-family: "PTSans";
  font-size: 32px;
  line-height: 1;
  color: #ffffff;
  position: relative;
  padding: 30px 10px 34px 0;
  margin-bottom: 45px;
}
.section-history-title-text {
  font-family: "PTSans";
  font-size: 32px;
  line-height: 1;
  color: #ffffff;
  position: relative;
  z-index: 5;
  font-weight: bold;
}
.section-history-title:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 12px 0 12px;
  border-color: #d6f6ff transparent transparent transparent;
  position: absolute;
  left: -10px;
  top: 0;
  z-index: 2;
}
.section-history-title:after {
  content: "";
  width: 100px;
  height: 100%;
  right: 100%;
  top: 0;
  position: absolute;
  background: #309b42;
}
.section-history-number {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  width: 100%;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
}
.section-history-title-bg-bottom {
  background: #309b42;
  height: calc(100% + 25px);
  width: calc(105px + 43px);
  position: absolute;
  top: 0;
  right: -43px;
}
.section-history-title-bg-bottom:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 41px 0 41px;
  border-color: #309b42 transparent transparent transparent;
  position: absolute;
  left: -41px;
  bottom: 0;
}
.section-history-btn {
  background-color: #309b42;
  width: 158px;
  line-height: 50px;
  text-align: center;
  font-size: 17px;
  font-family: "PTSans";
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  margin-bottom: 40px;
  cursor: pointer;
  text-decoration: none;
}
.section-history-hide-text {
  display: none;
}
.btn-top-section-history {
  background: url('../images/SB/ico-btn-top.png');
  width: 12px;
  height: 18px;
  display: inline-block;
  margin-left: 32px;
}
.section-history9 > div {
  padding-bottom: 384px;
}
.section-history9 .section-left {
  z-index: 4;
  position: relative;
}
.section-history9 {
  position: relative;
}
.section-right img {
  position: absolute;
}
.cloud1 {
  top: 38px;
  left: -44px;
}
.cloud2 {
  top: 32px;
  right: -32px;
}
.cloud3 {
  top: 98px;
  left: 258px;
}
.cloud4 {
  top: 188px;
  left: 110px;
}
.section-history-img-window-right {
  position: absolute;
  top: 470px;
  left: 410px;
  z-index: 2;
}
.section1 {
  bottom: -16px;
  left: -43px;
  z-index: 2;
}
.section-history-img1 {
  top: -2px;
  left: 64px;
  z-index: 2;
}
.section-history-img2 {
  top: 365px;
  left: 50px;
  z-index: 2;
}
.section-history-img3 {
  top: 365px;
  left: 410px;
  z-index: 2;
}
.section-history-img4 {
  top: -40px;
  left: -24px;
  z-index: 2;
}
.section-history-img5 {
  top: 134px;
}
.section-history-img6 {
  top: 512px;
  left: 51px;
  z-index: 2;
}
.section-history-img7 {
  top: 512px;
}
.section-history-img8 {
  top: 155px;
  left: 59px;
}
.section-history-img9 {
  top: 253px;
}
.section-history-img10 {
  top: -29px;
  left: 67px;
}
.section-history-img11 {
  top: 378px;
  left: 53px;
  z-index: 2;
}
.section-history-img12 {
  top: 410px;
  z-index: 2;
}
.section-history-img13 {
  top: 98px;
  left: 52px;
}
.section-history-img14 {
  top: 98px;
}
.section-history-img15 {
  top: 490px;
  left: 52px;
}
.section-history-img16 {
  top: 490px;
}
.section-history-img17 {
  top: 57px;
  left: 52px;
}
.section-history-img18 {
  top: 115px;
}
.section-history-img19 {
  top: 530px;
  left: 55px;
}
.section-history-img20 {
  top: 530px;
}
.section-history-img21 {
  top: 10px;
  left: 55px;
}
.section-history-img22 {
  top: 10px;
  left: 404px;
}
.section-history-img23 {
  top: 370px;
  left: 52px;
  z-index: 2;
}
.section-history-img24 {
  top: 370px;
  left: 407px;
}
.section-history-img25 {
  top: 54px;
  left: 0;
}
.section-history-img26 {
  bottom: 20px;
  right: 51;
  z-index: 3;
}
.section-history-img27 {
  bottom: 0px;
  right: 0;
  position: absolute;
  z-index: 2;
}
.section-history-img28 {
  bottom: 24px;
  left: 301px;
  position: absolute;
  z-index: 3;
}
.section-history-img29 {
  bottom: 850px;
  left: 58px;
  z-index: 3;
}
.footer {
  background: #a7a7a7;
  padding: 49px 52px 42px;
}
.copy {
  font-size: 22.71px;
  font-family: "PTSans";
  color: #ffffff;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  margin-bottom: 17px;
}
.footer p {
  font-size: 16px;
  font-family: "PTSans";
  color: #ffffff;
  line-height: 1.5;
  text-align: left;
}
.footer p:first-child {
  margin-bottom: 25px;
}
.footer p a {
  text-decoration: underline;
  color: #ffffff;
}
.footer p a:hover {
  text-decoration: none;
}
.img-none-dectope {
  display: none;
}
.img-mobile-section9 {
  display: none;
}
.childr {
  position: absolute;
  right: -12px;
  top: 162px;
  z-index: 3;
}
.flower {
  position: absolute;
  top: 590px;
  right: -10px;
  z-index: 2;
}
.section-history9 .section-history-btn {
  position: relative;
}
.section-history9 .section-history-btn:before {
  content: "";
  width: 35px;
  height: 40px;
  background: url('../images/SB/dove2.png') no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% - 3px);
  right: 0;
}
@media (max-width: 1080px) {
  .content-sber {
    width: 100%;
  }
  .social {
    position: absolute;
    right: 0px;
    top: 27px;
    top: 4.21875vw;
    z-index: 2;
  }
  .social li {
    padding-right: 55px;
    padding-right: 8.59375vw;
    display: inline-block;
    float: left;
  }
  .social li a {
    display: inline-block;
  }
  .social li img {
    position: relative;
    height: 32px;
    height: 5vw;
  }
  .section:not(.section-history) {
    position: relative;
  }
  .section-history,
  .section:not(.section-history) .section-right {
    padding-left: 63px;
    padding-left: 9.84375vw;
  }
  .section:not(.section-history) .section-left {
    padding-left: 22px;
    padding-left: 3.4375vw;
  }
  .section-history .section-left {
    background: #f1e8cc;
  }
  .section-history2 .section-right {
    padding-bottom: 532px;
    padding-bottom: 83.4375vw;
  }
  .section > div {
    width: 100%;
    padding-bottom: 0;
    display: inline-block;
  }
  .section > div img {
    position: relative;
  }
  .section-history:not(.section-history9) .section-left {
    display: table-footer-group;
  }
  .section-history-img-window-right {
    display: none;
  }
  .section-logo {
    width: 188px;
    width: 29.375vw;
    height: 36px;
    height: 5.625vw;
    margin: 27px 0 63px;
    margin: 4.21875vw 0 9.84375vw;
  }
  .section-logo img {
    width: 100%;
  }
  .section-history-img-not-mobile {
    display: none;
  }
  .section-left {
    padding: 0;
  }
  .section-title {
    font-size: 62px;
    font-size: 9.6875vw;
    line-height: 1.032;
  }
  .section-title:before {
    width: 49px;
    width: 7.65625vw;
    height: 55px;
    height: 8.59375vw;
    top: -28px;
    top: -4.375vw;
    left: 214px;
    left: 33.4375vw;
    background-size: contain;
  }
  .section p {
    font-size: 28px;
    font-size: 4.375vw;
    line-height: 1.228;
  }
  .section-history p {
    font-size: 28px;
    font-size: 4.375vw;
    color: #212121;
    line-height: 1.5;
    margin: 0 0 84px 45px;
    margin: 0 0 13.125vw 7.03125vw;
    z-index: 4;
    position: relative;
  }
  .section-history ul {
    padding: 0;
    margin: 0 0 13.125vw 7.03125vw;
  }
  .section-history ul li {
    color: #212121;
    font-size: 4.375vw;
  }
  .section-history-btn {
    width: 289px;
    width: 45.15625vw;
    line-height: 91px;
    line-height: 14.21875vw;
    font-size: 31px;
    font-size: 4.84375vw;
    margin: 0 0 145px 45px;
    margin: 0 0 22.65625vw 7.03125vw;
    z-index: 3;
    position: relative;
  }
  .section-history-number {
    font-size: 28px;
    font-size: 4.375vw;
  }
  .section-history-title-text {
    font-size: 46px;
    font-size: 7.1875vw;
    padding-right: 5vw;
    display: inline-block;
  }
  .section-history-title {
    padding: 48px 10px 50px 27px;
    padding: 7.5vw 1.5625vw 7.8125vw 4.21875vw;
    margin-bottom: 55px;
    margin-bottom: 8.59375vw;
  }
  .section-history-title-bg-bottom {
    height: calc(100% + 32px);
    height: calc(100% + 5vw);
    width: 95px;
    width: 14.84375vw;
    right: 37px;
    right: 5.78125vw;
  }
  .section-history-title-bg-bottom:before {
    border-width: 33px 41px 0 41px;
    border-width: 5.15625vw 6.40625vw 0 6.40625vw;
    left: -41px;
    left: -6.40625vw;
  }
  .section .cloud {
    position: absolute;
  }
  .content-sber .top {
    position: relative;
    z-index: 2;
  }
  .cloud1 {
    top: 78px;
    top: 12.1875vw;
    left: 280px;
    left: 43.75vw;
    width: 137px;
    width: 21.40625vw;
  }
  .cloud2 {
    top: -679px;
    top: -2.50937vw;
    right: -32px;
    right: -5vw;
    width: 136px;
    width: 21.25vw;
  }
  .cloud3 {
    top: 140px;
    top: 21.875vw;
    left: 53px;
    left: 8.28125vw;
    width: 72px;
    width: 11.25vw;
  }
  .cloud5 {
    right: 200px;
    right: 42.25vw;
    top: 11vw;
    /* bottom: calc(100% + 575px); */
    /* bottom: calc(100% + 89.84375vw); */
    width: 72px;
    width: 11.25vw;
  }
  .section1 {
    max-width: initial;
    left: -44px;
    left: -7.175vw;
    z-index: 2;
    width: calc(100% + 44px);
    width: calc(100% + 6.875vw);
  }
  .section-history-img1 {
    top: 0;
    left: 11px;
    left: 1.71875vw;
    width: 553px;
    width: 86.4vw;
    margin-bottom: 30px;
    margin-bottom: 4.6875vw;
    z-index: 2;
  }
  .section > div .section-history-img4 {
    width: 590px;
    width: 92.1875vw;
    position: absolute;
  }
  .section-history-img8 {
    top: -25px;
    top: -3.9vw;
    left: 65px;
    left: 10.15625vw;
    width: 434px;
    width: 67.8125vw;
  }
  .section-history-img10 {
    width: 434px;
    width: 67.8125vw;
    top: -29px;
    top: -4.53125vw;
    left: 67px;
    left: 10.46875vw;
  }
  .section-history-img13 {
    top: -31px;
    top: -4.84375vw;
    left: 52px;
    left: 8.125vw;
    width: 460px;
    width: 71.875vw;
  }
  .section-history-img17 {
    top: -29px;
    top: -4.53125vw;
    left: 42px;
    left: 6.5625vw;
    width: 460px;
    width: 71.875vw;
  }
  .section-history-img21 {
    top: -21px;
    top: -3.28125vw;
    left: 55px;
    left: 8.59375vw;
    width: 460px;
    width: 71.875vw;
  }
  .section-history-img25 {
    top: -70px;
    top: -10.9375vw;
    left: 0;
    width: 100%;
  }
  .section-history-img26 {
    position: absolute;
    max-width: initial;
    width: 839px;
    width: 131.0937vw;
    left: 0;
  }
  .img-mobile-section9 {
    display: inline-block;
    position: absolute!important;
    left: -63px;
    left: -9.84375vw;
    bottom: 0;
    max-width: initial;
    width: calc(100% + 63px);
    width: calc(100% + 9.84375vw);
  }
  .section-history9 .section-right {
    display: none;
  }
  .section-history9 .section-left {
    padding-bottom: 443px;
    padding-bottom: 69.21875vw;
  }
  .section-history-img28 {
    bottom: calc(100% - 4px);
    right: 60px;
    right: 9.375vw;
    left: initial;
    position: absolute;
    z-index: 3;
    width: 111px;
    width: 17.34375vw;
  }
  .img-none-dectope {
    display: inline-block;
  }
  .img-mobile-section92 {
    position: absolute;
    bottom: calc(100% + 33vw);
    right: 60px;
    right: 16.1vw;
    left: initial;
    z-index: 3;
  }
  .section-history-title:before {
    background: url('../images/SB/title-before-mobile.png') no-repeat;
    background-size: contain;
    width: 33px;
    width: 5.15625vw;
    height: 8px;
    height: 1.25vw;
    border: none;
    left: -15.6px;
    left: -2.4375vw;
    top: -0.09vw;
  }
  .footer {
    padding: 62px 43px 69px 38px;
    padding: 9.6875vw 6.71875vw 10.78125vw 5.9375vw;
  }
  .copy {
    font-size: 32px;
    font-size: 5vw;
    margin-bottom: 44px;
    margin-bottom: 6.875vw;
  }
  .footer p {
    font-size: 24px;
    font-size: 3.75vw;
    line-height: 1.3;
  }
}
