.content-sber {
  width: 1080px;
  overflow-x: hidden;
}
.content .top .text {
  float: none;
  display: table-cell;
  padding-top: 18px;
  vertical-align: top;
}
.content .top {
  border-bottom: 5px solid #000;
}
.section-logo {
  margin: 13px 0 33px;
  display: inline-block;
}
.section {
  display: table;
  background: url('../images/SB/bg-section-sber.png');
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}
.section p {
  font-size: 18px;
  font-family: "PTSerif";
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
  line-height: 1.556;
  text-align: left;
  margin-bottom: 42px;
}
.section-history p {
  font-size: 18px;
  font-family: "PTSerif";
  color: #ffffff;
  line-height: 1.556;
  font-style: normal;
  font-weight: normal;
  text-align: left;
  margin-bottom: 42px;
}
.section-title {
  position: relative;
  font-size: 47px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'PTSans';
  line-height: 1.077;
  text-align: left;
  margin-bottom: 28px;
}
.section-title:before {
  content: "";
  width: 35px;
  height: 40px;
  position: absolute;
  top: -19px;
  left: 142px;
  background: url('../images/SB/dove.png') no-repeat;
}
.section > div {
  float: none;
  padding-bottom: 40px;
  position: relative;
  display: table-cell;
  box-sizing: border-box;
}
.section-left {
  width: 49%;
  padding-left: 50px;
  padding-right: 60px;
}
.section-right {
  width: 51%;
}
.section-history .section-right {
  background: #f1e8cc;
}
.section-history-title {
  display: inline-block;
  width: 100%;
  background: #309b42;
  font-family: "PTSans";
  font-size: 32px;
  line-height: 1;
  color: #ffffff;
  position: relative;
  padding: 30px 10px 34px 0;
  margin-bottom: 45px;
}
.section-history-title:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 12px 0 12px;
  border-color: #6ab9b0 transparent transparent transparent;
  position: absolute;
  left: -10px;
  top: 0;
  z-index: 2;
}
.section-history-title:after {
  content: "";
  width: 100px;
  height: 100%;
  right: 100%;
  top: 0;
  position: absolute;
  background: #309b42;
}
.section-history-number {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  width: 100%;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
}
.section-history-title-bg-bottom {
  background: #309b42;
  height: calc(100% + 25px);
  width: calc(105px + 60px);
  position: absolute;
  top: 0;
  right: -60px;
}
.section-history-title-bg-bottom:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 41px 0 41px;
  border-color: #309b42 transparent transparent transparent;
  position: absolute;
  left: -41px;
  bottom: 0;
}
.section-history-btn {
  background-color: #309b42;
  width: 158px;
  height: 50px;
  text-align: center;
  font-size: 17px;
  font-family: "PTSans";
  color: #ffffff;
  font-weight: bold;
  line-height: 1.529;
  display: inline-block;
  margin-bottom: 110px;
}
.section1 {
  position: absolute;
  bottom: -16px;
  left: -44px;
  z-index: 2;
}
